{% extends "app/index.html" %}

{% block principal %}
<div class="container px-5 pb-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-5">
        <div class="text-center">
          <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
            <div class="text-uppercase">Confidencialidad · Integridad · Disponibilidad</div>
          </div>
          <div class="fs-3 fw-bold text-muted">Te ofrecemos nuestros capacitaciones por expertos especializados en el area</div>
        </div>
      </div>
    </div>
  </div>
{% endblock principal %}

